<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zph.programmer.springdemo.dao.RestCallLogRecordMapper">
  <resultMap id="BaseResultMap" type="com.zph.programmer.springdemo.po.RestCallLogRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="request" jdbcType="VARCHAR" property="request" />
    <result column="response" jdbcType="VARCHAR" property="response" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="cost_time" jdbcType="INTEGER" property="costTime" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="created_time" jdbcType="VARCHAR" property="createdTime" />
    <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime" />
  </resultMap>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.zph.programmer.springdemo.po.RestCallLogRecord">
    insert into Rest_Call_Log_Record (user_id, method,
      uri, request, response, 
      status, cost_time)
    values ( #{userId,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR},
      #{uri,jdbcType=VARCHAR}, #{request,jdbcType=VARCHAR}, #{response,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{costTime,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zph.programmer.springdemo.po.RestCallLogRecord">
    update Rest_Call_Log_Record
    set user_id = #{userId,jdbcType=INTEGER},
      method = #{method,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      request = #{request,jdbcType=VARCHAR},
      response = #{response,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      cost_time = #{costTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, method, uri, request, response, status, cost_time, is_valid, 
    created_time, modified_time
    from Rest_Call_Log_Record
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>