<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
</head>
<body>
<div class="panel-body">
    <h1>注册页面</h1>
    <form th:action="@{/register}" method="post">
        <table>
            <tr>
                <td>用户名:</td>
                <td><input id="userName" name="userName" placeholder="用户名" type="text"/></td>
            </tr>
            <tr>
                <td>真实姓名:</td>
                <td><input id="realName" name="realName" placeholder="真实姓名" type="text"/></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input class="form-control" id="userPassword" name="userPassword" placeholder="密码" type="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary btn-block" type="submit">注册</button>
                    <a href="/login">返回登录页面</a>
                </td>
            </tr>
        </table>
        <br>
        <div th:if="${param.error}">
            <p>注册失败！</p>
            <div td th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}">
                用户名错误</td>
            </div>
        </div>
        <div th:if="${param.success}">
            <p>注册成功，可以登录了！</p>
        </div>

    </form>
</div>

</body>

</html>